# 编译生成的文件
*.o
*.obj
*.a
*.so
*.dylib
*.exe
*.out

# 编译目录
build/
bin/
*.dSYM/

# 依赖文件
*.d

# 预编译头文件
*.gch
*.pch

# 调试文件
*.log
*.pid
core

# IDE 配置文件
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# CMake 生成的文件
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile.bak

# 测试覆盖率文件
*.gcda
*.gcno
*.gcov

# 临时文件
*.tmp
*.bak
*.backup
compile_commands.json
.cache/clangd/index/Timer.cpp.65815CB09E34BFA1.idx
.cache/clangd/index/Timer.h.AD6C212D65115C45.idx
.cache/clangd/index/Epoll.cpp.013F8D051B4558D3.idx
.cache/clangd/index/Epoll.h.5841E89B400ABE77.idx
.cache/clangd/index/HttpRequest.cpp.D2A5DEAF62845168.idx
.cache/clangd/index/HttpRequest.h.7F56AEFE5A38888B.idx
.cache/clangd/index/HttpResponse.cpp.D2EE454FA3AAAD85.idx
.cache/clangd/index/HttpResponse.h.94CB60CFC43CF7BD.idx
.cache/clangd/index/Logger.cpp.B82EFF6DCA597A21.idx
.cache/clangd/index/Logger.h.EBE8B052840EB692.idx
.cache/clangd/index/main.cpp.C3AC2EFFCD23508B.idx
.cache/clangd/index/Socket.cpp.C594A822A61EBA5B.idx
.cache/clangd/index/Socket.h.E4213F40521437B3.idx
.cache/clangd/index/ThreadPool.h.E87B7ED47CAE292B.idx
.cache/clangd/index/WebServer.cpp.E98D15E4B9C85571.idx
.cache/clangd/index/WebServer.h.909037387A0CE185.idx
